/* font-families */
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Allerta Stencil", sans-serif;

/* colors */
$color-primary-main: #202020;
$color-secondary-main: #c72F58;
$color-neutral-light: #ffffff;
