@use '../abstracts' as *;

/* typography */
h1, h2, h3, h4, h5, p, li {
  margin: 0;
}

h1 {
  font-family: $font-family-secondary;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  margin-bottom: 16px;
}

h3 {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 0.9375rem;
  margin-bottom: 8px;
}

p {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
  margin-bottom: 8px;
}

li {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
}
